#info-stream01 .modal-dialog{
    min-width: 49rem !important;
    max-width: initial;
    margin: 1.75rem auto;
    margin-top: 1.75rem;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: -7rem;
}

@media only screen and (max-width:47.9375em) and (min-width:26.625em) { 
    #info-stream01 .modal-dialog{
        min-width: 19rem !important;
        max-width: initial;
        margin: 1.75rem auto;
        margin-top: 1.75rem;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: -7rem;
    }
}


@media only screen and (max-width:26.5625em) and (min-width:20em) { 
    #info-stream01 .modal-dialog{
        min-width: 320px !important;
        max-width: 400px;
        margin: 1.75rem auto;
        margin-top: 1.75rem;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: -7rem;
    }
}